<div class="pinBox pinWell padding-10">
	<h1 class="page-header font-28 margin-top-10 margin-bottom-0">เกี่ยวกับเรา</h1>

	<div class="row">

	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<img class="img-responsive no-radius margin-top-15" src="https://img.powerdd.com/web/shop/remax-shop-1.jpg">
	    </div>

	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<h2>Remax (Thailand)</h2>
		<p class="justify">&nbsp; &nbsp; &nbsp; &nbsp; คือบริษัทตัวแทนจำหน่ายสินค้าอุปกรณ์เสริมสำหรับโทรศัพท์มือถือและ คอมพิวเตอร์ยี่ห้อชั้นนำ   โดยปัจจุบันเราได้รับการแต่งตั้งอย่างเป็นทางการให้จัดจำหน่ายแบรนด์คุณภาพ  ดังต่อไปนี้   
				Smartphone Accessories <b>REMAX</b>, Bluetooth headset <b>ROMAN</b>, Computer Accessories <b>ATAKE</b>, <b>HI-POWER</b>, Tablet <b>VIDO</b></p>

		<p class="justify">&nbsp; &nbsp; &nbsp; &nbsp; บริษัทฯ ได้ขยายแนวทางธุรกิจเพื่อตอบรับกับตลาด IT และ Smartphone  ที่เติบโตขึ้นอย่างต่อเนื่อง โดยได้รับแต่งตั้งให้เป็นตัวแทนจำหน่ายสินค้าชั้นนำที่ มีชื่อเสียง เพิ่มอีกหลายแบรนด์   ทางบริษัทมีความมุ่งมั่นที่จะสรรหาผลิตภัณฑ์คุณภาพดี ราคาย่อมเยา และการบริการหลังขายที่ดีเยี่ยมเพื่อตอบสนองความพึงพอใจของลูกค้าทุกท่าน  </p>

		<strong class="margin-top-15">สินค้าที่จัดจำหน่าย</strong>
		<ul>
			<li>Accessories Smartphone</li>
			<li>Protector Screen Guard</li>
			<li>Audio Series</li>
			<li>Power Bank</li>
			<li>Leather Case</li>
			<li>Mouse/keyboard</li>
			<li>Cable/Charger</li>
		</ul>

	    </div>

	</div>

	<div class="row">

	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<h2>REMAX</h2>
		<p class="justify">&nbsp; &nbsp; &nbsp; &nbsp; ก่อตั้งขึ้นในปี 2008  สำนักงานใหญ่ตั้งอยู่เมือง SHENZHEN จาก<strong>ประเทศฮ่องกง</strong></p>

		<p class="justify">&nbsp; &nbsp; &nbsp; &nbsp; บริษัทเป็นผู้ผลิตและ จำหน่ายสินค้าจำหน่าย  Accessories Smartphone ไม่ว่าจะเป็น Leather Case, Protector Screen  Guard, Power Bank, Audio Series, Cable/Charger   โดยเน้นการออกแบบสินค้าให้โดดเด่นสวยงาม  ทันสมัยและคุณภาพดี  ให้ความสำคัญการรับประกันหลังการขาย  เพื่อสร้างความมั่นใจแก่ผู้บริโภค  มีสาขาและตัวแทนจำหน่ายกระจายอยู่ทั้งในและต่างประเทศ และมีตัวแทนอย่างเป็นทางการกระจายอยู่แต่ละทวีป   ได้แก่  Switzerland, Canada, Russia Egypt, Czech, Israel,Hungary, Dubai, Saudi Arabia, Vietnam และในประเทศไทย <strong>Remax (Thailand)</strong> เป็นตัวแทนที่ได้รับการแต่งตั้งอย่างเป็นทางการ ให้นำเข้าและจัดจำหน่ายสินค้าภายใต้ตราสินค้า <strong>REMAX</strong></p>

		<p><img class="img-responsive no-radius margin-top-15" src="https://img.powerdd.com/web/shop/shop.jpg"></p>

		<br />
		<table width="100%" class="margin-top-15">
			<tr>
				<td><img width="150" class="img-responsive margin-bottom-5" src="https://img.powerdd.com/web/contact/line-remaxthailand.png" style="border-radius:0px"></td>
				<td valign="top">
					<div class="margin-left-5">Line ID : <b>@RemaxThailand</b><br /><br />
					กรุณา Add Line เพื่อสอบถามข้อมูล และรับสิทธิพิเศษต่างๆ รวมทั้งแจ้งการชำระเงินเพื่อยืนยันคำสั่งซื้อค่ะ
					</div>
				</td>
			</tr>
		</table>
	    </div>

	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<img class="img-responsive no-radius margin-top-15" src="https://img.powerdd.com/web/shop/remax-shop-2.jpg">

		<p>&nbsp; &nbsp; &nbsp; &nbsp;<img class="img-responsive" src="{$system_url}/images/coc"></p>

	    </div>

	</div>

</div>