extends layout

block content
	.pinBox.pinWell.padding-10
		h1.page-header.font-28.margin-top-10.margin-bottom-0 เกี่ยวกับเรา
		.row
			.col-xs-12.col-sm-6.col-md-6.col-lg-6
				img.img-responsive.no-radius.margin-top-15(src="https://img.powerdd.com/web/shop/remax-shop-1.jpg")
			.col-xs-12.col-sm-6.col-md-6.col-lg-6
				h2 Remax (Thailand)
				p.justify &nbsp; &nbsp; &nbsp; &nbsp; คือบริษัทตัวแทนจำหน่ายสินค้าอุปกรณ์เสริมสำหรับโทรศัพท์มือถือและ คอมพิวเตอร์ยี่ห้อชั้นนำ   โดยปัจจุบันเราได้รับการแต่งตั้งอย่างเป็นทางการให้จัดจำหน่ายแบรนด์คุณภาพ  ดังต่อไปนี้  Smartphone Accessories 
					b
						|REMAX 
					, Bluetooth headset 
					b
						|ROMAN
					, Computer Accessories 
					b
						|ATAKE
					,
					b
						|HI-POWER
					,Tablet 
					b
						|VIDO
						
				p.justify &nbsp; &nbsp; &nbsp; &nbsp; บริษัทฯ ได้ขยายแนวทางธุรกิจเพื่อตอบรับกับตลาด IT และ Smartphone  ที่เติบโตขึ้นอย่างต่อเนื่อง โดยได้รับแต่งตั้งให้เป็นตัวแทนจำหน่ายสินค้าชั้นนำที่ มีชื่อเสียง เพิ่มอีกหลายแบรนด์   ทางบริษัทมีความมุ่งมั่นที่จะสรรหาผลิตภัณฑ์คุณภาพดี ราคาย่อมเยา และการบริการหลังขายที่ดีเยี่ยมเพื่อตอบสนองความพึงพอใจของลูกค้าทุกท่

				strong.margin-top-15 สินค้าที่จัดจำหน่าย
				ul
					li Accessories Smartphone
					li Protector Screen Guard
					li Audio Series
					li Power Bank
					li Leather Case
					li Mouse/keyboard
					li Cable/Charger



		.row
			.col-xs-12.col-sm-6.col-md-6.col-lg-6
				h2 REMAX
				p.justify &nbsp; &nbsp; &nbsp; &nbsp; ก่อตั้งขึ้นในปี 2008  สำนักงานใหญ่ตั้งอยู่เมือง SHENZHEN จาก
					strong 
						|ประเทศฮ่องกง
				p.justify &nbsp; &nbsp; &nbsp; &nbsp; บริษัทเป็นผู้ผลิตและ จำหน่ายสินค้าจำหน่าย  Accessories Smartphone ไม่ว่าจะเป็น Leather Case, Protector Screen  Guard, Power Bank, Audio Series, Cable/Charger   โดยเน้นการออกแบบสินค้าให้โดดเด่นสวยงาม  ทันสมัยและคุณภาพดี  ให้ความสำคัญการรับประกันหลังการขาย  เพื่อสร้างความมั่นใจแก่ผู้บริโภค  มีสาขาและตัวแทนจำหน่ายกระจายอยู่ทั้งในและต่างประเทศ และมีตัวแทนอย่างเป็นทางการกระจายอยู่แต่ละทวีป   ได้แก่  Switzerland, Canada, Russia Egypt, Czech, Israel,Hungary, Dubai, Saudi Arabia, Vietnam และในประเทศไทย 
					strong 
						|Remax (Thailand) 
					เป็นตัวแทนที่ได้รับการแต่งตั้งอย่างเป็นทางการ ให้นำเข้าและจัดจำหน่ายสินค้าภายใต้ตราสินค้า 
					strong 
						|REMAX
				p
					img.img-responsive.no-radius.margin-top-15(src="https://img.powerdd.com/web/shop/shop.jpg")
				br
				table.margin-top-15(width="100%")
					tbody
						tr
							td
								img.img-responsive.margin-bottom-5(width='150', style='border-radius:0px', src='https://img.powerdd.com/web/contact/line-remaxthailand.png')
							td(valign="top")
								.margin-left-5 
									|Line ID : 
									b @RemaxThailand
									br
									br
									|กรุณา Add Line เพื่อสอบถามข้อมูล และรับสิทธิพิเศษต่างๆ รวมทั้งแจ้งการชำระเงินเพื่อยืนยันคำสั่งซื้อค่ะ
			.col-xs-12.col-sm-6.col-md-6.col-lg-6
				img.img-responsive.no-radius.margin-top-15(src='https://img.powerdd.com/web/shop/remax-shop-2.jpg')
				p
					img.img-responsive(src='#{data.websiteUrl}/images/coc')