<div class="pinItem">
	<div class="pinBox pinWell margin-bottom-15">
	<img src="https://img.powerdd.com/web/box/check_remax_product.jpg" class="img-responsive">
		<div class="text-center">
			<div id="check_remax_product" class="padding-10">
				<form class="form-horizontal">
					<form class="navbar-form navbar-left">
						<div class="input-group">
							<input id="txt-remax_barcode" type="text" placeholder="Barcode" class="form-control">
								<span class="input-group-btn">
									<button id="btn-remax_barcode" type="button" class="button-check_remax_product btn btn-default"><i class="fa fa-search"></i></button>
								</span>
						</div>
					</form>

					<div id="remax_not_exist" role="alert" class="alert alert-remax_barcode alert-danger hidden margin-bottom-30"><i class="fa fa-exclamation-triangle"></i>  สินค้าที่ตรวจสอบ ไม่พบว่าเป็น<b><u>ของแท้</u></b>จาก Remax Thailand</div>
					
					<div id="remax_nosn" role="alert" class="alert alert-remax_barcode alert-success hidden margin-bottom-30">สินค้า<b><u>ของแท้</u></b>จาก Remax Thailand ต้องมีสติ๊กเกอร์
					<img src="https://img.powerdd.com/watermark/remax.png" class="img-responsive"> </div>
					
					
					<div id="product-info" role="alert" class="alert alert-remax_barcode alert-success hidden margin-bottom-30">
						<p>สินค้ารายการนี้เป็น<b><u>ของแท้</u></b></p>
						<p>จาก Remax Thailand</p>
						<p><b id="ProductName"></b></p>
						<p id="SellDate"></p>
					</div>
					<div id="product-load" class="padding-15 hidden"><i class="fa fa-spinner fa-pulse"></i> กรุณารอสักครู่ค่ะ</div>
					<a href="javascript:void(0)" class="back-remax_barcode hidden margin-top-5 margin-bottom-5"><i class="fa fa-arrow-left"></i></a>
				</form>
			</div>
		</div>
	</div>
</div>
