<div class="pinBox pinWell">
	<img class="img-responsive" src="https://img.powerdd.com/web/contact/contact_us.jpg">
</div>
<!--<div class="pinBox pinWell padding-10">
	<h1 class="page-header font-28 margin-top-10 margin-bottom-0">ติดต่อเรา</h1>

	<div class="row">

	    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
		<div class="box box-success box-solid">
			<div class="box-body margin-top-5">
				<center>LINE Official ID : <b>@RemaxThailand</b><br>
				<img class="img-responsive margin-top-5 margin-bottom-5" src="https://24fin-backend.azurewebsites.net/images/line-remaxthailand.png" width="150">
				</center>เพื่อความสะดวกและรวดเร็วในการสื่อสาร กรุณา Add Line เพื่อสอบถามข้อมูล และรับสิทธิพิเศษต่างๆ รวมทั้งแจ้งการชำระเงินเพื่อยืนยันคำสั่งซื้อค่ะ
			</div>
		</div>
	    </div>

	    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
		    <form id="frm-contact" role="form" class="margin-top-10">
			    <div class="row">
			      <div class="form-group col-lg-4">
				<label for="input1">ชื่อผู้ติดต่อ</label>
				<input type="text" name="contact_name" class="form-control required" id="txt-name">
			      </div>
			      <div class="form-group col-lg-4">
				<label for="input2">อีเมล์</label>
				<input type="email" name="contact_email" class="form-control required" id="txt-email">
			      </div>
			      <div class="form-group col-lg-4">
				<label for="input3">เบอร์โทรศัพท์</label>
				<input type="phone" name="contact_phone" class="form-control required" id="txt-tel">
			      </div>
			      <div class="clearfix"></div>
			      <div class="form-group col-lg-12">
				<label for="input4">ข้อความ</label>
				<textarea name="contact_message" class="form-control required" rows="9" id="txt-message"></textarea>
			      </div>
			      <div class="form-group col-lg-12 center-block">
				<button id="btn-sent_message" type="button" class="btn btn-primary center-block">ส่งข้อความ</button>
			      </div>
		      </div>
		    </form>
		    <div id="dv-alert_success" class="alert alert-info text-center hidden margin-top-15" role="alert">ส่งข้อมูลเรียบร้อยแล้ว ขอบคุณค่ะ</div>
		    <div id="dv-alert_fail" class="alert alert-danger text-center hidden margin-top-15" role="alert">ไม่สามารถส่งข้อมูลได้ กรุณาลองใหม่อีกครั้งค่ะ</div>
	    </div>

	    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		<h3>REMAX</h3>
		<p>79/6 Pakket Nonthaburi 11120  Thailand</p>
		<p>
			<p>
				<i class="fa fa-phone"></i> Tel & Fax: +66(0) - 21567199<br>
				<i class="fa fa-phone"></i> HOT LINE: +66(0) - 81 2673388 (ฝ่ายขาย)
			</p>
		<p><i class="fa fa-envelope-o"></i> Email: <a href="mailto:sales@remaxthailand.co.th">sales@remaxthailand.co.th</a></p>
		<p><i class="fa fa-clock-o"></i> <abbr title="Hours">H</abbr>: Monday - Saturday: 10:00 AM to 8:00 PM</p>
		<p>
			<div class="line margin-bottom-10"></div>
			<a class="btn btn-warning btn-block" href="https://24fin-auth.azurewebsites.net/register">สมัครสมาชิกเพื่อรับสินค้าราคาพิเศษ</a>
		</p>
	    </div>

	</div>

</div>-->