extends layout

block content
	.row.pinRow
		.pinItem
			.pinBox.pinWell.margin-bottom-15
				a(href='#{data.systemUrl}/register')
					img.img-responsive(src='https://img.powerdd.com/web/box/dealer_regis.jpg')
				.message.text-center สมัครตัวแทนจำหน่าย
		.pinItem
			.pinBox.pinWell.margin-bottom-15
				a(href='#{data.systemUrl}/product/category/new')
					img.img-responsive(src='https://cdn24fin.blob.core.windows.net/img/products/1/D-New Arrivals/1.jpg')
				.message.text-center สินค้ามาใหม่
	