extends layout

block content
	.row.pinRow
		.pinItem
			.pinBox.pinWell.margin-bottom-15
				a(href='#{data.systemUrl}/shop_register')
					img.img-responsive(src='https://src.remaxthailand.co.th/img/web/box/shop_register.jpg')
				.message.text-center สนใจเปิดช็อป
		include check_remax_product_box
		.pinItem
			.pinBox.pinWell.margin-bottom-15
				a(href='#{data.systemUrl}/category/new')
					img.img-responsive(src='https://src.remaxthailand.co.th/img/category/new_arrivals/1.gif')
				.message.text-center สินค้ามาใหม่
				
		each values in data.category
			.pinItem
				.pinBox.pinWell.margin-bottom-15
					a(href='#{data.systemUrl}/category/'+values.url)
						img.img-responsive(src='https://src.remaxthailand.co.th/img/category/'+values.url+'/1.jpg')
					.message.text-center= values.name
	