extends layout

block content
	.pinBox.pinWell.padding-10
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				img.img-responsive(src='https://src.remaxthailand.co.th/img/web/warranty/condition-01.png')
			.col-xs-6.col-sm-6.col-md-6.col-lg-6.margin-top-10.margin-bottom-10
				img.img-responsive.no-radius(align='left', src='https://lh3.googleusercontent.com/_zUj5OVFSaw5VbeEP_1wqkbm832zhzygZL4g78AXWBw=w250-no')
			.col-xs-6.col-sm-6.col-md-6.col-lg-6.margin-top-10.margin-bottom-10
				a#warranty_feq(href='javascript:void(0)')
					img.img-responsive.no-radius(align='right', src='https://lh3.googleusercontent.com/jkg-DJmKZvHnodDnnt8mw0IiKExAKIpDU-2qNSJGOFI=w200-no') 
