<div class="pinBox pinWell padding-10">
	<div class="row">
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<img class="img-responsive" src="https://img.powerdd.com/web/warranty/condition-01.png">
	    </div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-top-10 margin-bottom-10">
			<img class="img-responsive no-radius" align="left" src="https://lh3.googleusercontent.com/_zUj5OVFSaw5VbeEP_1wqkbm832zhzygZL4g78AXWBw=w250-no">
	    </div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-top-10 margin-bottom-10">
			<a id="warranty_feq" href="javascript:void(0)">
				<img class="img-responsive no-radius" align="right" src="https://lh3.googleusercontent.com/jkg-DJmKZvHnodDnnt8mw0IiKExAKIpDU-2qNSJGOFI=w200-no">
			</a>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="feqModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<img class="img-responsive no-radius" src="https://lh3.googleusercontent.com/X2gqEZDkdIYN_zbiCyzH06EnAvWZs9p0OfZuUYks104=w1500-no">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </div>
</div>
